<form action="{{ path('p_hero_create_check') }}" method="POST">
	<input type="text" name="name" placeholder="name"/>
	<select name="type">
		 <option value="0" disabled selected>Class</option>
    	 <option value="1">Dude</option>
    	 <option value="2">Pussy</option>
    	 <option value="3">Jerk</option>
	</select>
	<input type="submit"/>
</form>